.containerAll {

    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-left: 1em;
    margin-right: 1em;

}

.containerItems {
    display: flex;
    gap: 5em;
}

input {

    width: 100%;

}

.containerItems2 {

    border: 1px solid black;
    padding: 20px;

}

.buttonStyle {

    width: 100% !important;

    background-color: transparent;
    border: none;
    position: absolute;
    right: 1em;
    top: 50%;
    transition: 1s;
}

.buttonStyle:hover {

    transform: scale(1.2);

}

@media only screen and (width: 554px) {
    
    .buttonStyle {

        top: 45%;

    }
  }

  @media only screen and (width: 400px) {
    
    .buttonStyle {

        top: 40%;

    }

    .titleTasks {

        font-size: 20px;

    }

    .titleAdd {

        font-size: 20px;

    }

    .itemH1 {

        font-size: 10px !important;

    }

  }

.buttonIcon {

    width: 30px;

}