.containerAll {

    display: flex;
    justify-content: center;
    margin-top: 3em;


}

.formStyle {

    margin-bottom: 1em;
    border-bottom: 1px solid black;
}

.buttonStyle {

    background-color: transparent;
    border: none;

}

.buttonIcon {

    width: 30PX;
    position: relative;
    bottom: 5px;
    right: 1em;
    transition: 1s;

}

.buttonIcon:hover {

    transform: scale(1.2)
     rotate(15deg);

}

.checkBox {

    position: relative;
    bottom: 5px;
    accent-color: red;
    
}

.containerItems {

    border: 1px solid black;
    padding: 20px;
   

}
